@{
    //ViewDataDictionary 개체의 Title 속성을 "Movie List"로 설정
    //레이아웃 페이지의 <title> HTML 요소에서 사용
    // --> _Layout.cshtml 의 <title>@ViewData["Title"] - Mvc Movie App</title>
    ViewData["Title"] = "Movie List";
}

<h2>Movie List</h2>

<p>Hello from our View Template!</p>
